/* home.css */
.home {
  background-image: url('src/assets/img/home/capa.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 20vw;
}

h2 {
  font-size: 24px;
  color: #e0f4fb;
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border-radius: 8px;
  background: rgb(133, 134, 135, .45);
  color: #fff;
  max-width: 400px;
  margin: 0 auto;
}

.formulario div {
  margin-bottom: 1rem;
}

.dateFields {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  display: flex;
  align-items: center;
}

label svg {
  margin-right: 10px;
}

input[type='text'],
input[type='date'] {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: #fff;
  width: 100%;
}

input[type='text']::placeholder,
input[type='date']::placeholder {
  color: #aaa;
}

input[type='submit'] {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0088ff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

input[type='submit']:hover {
  background-color: #0055cc;
}

.formulario div:last-child {
  display: flex;
  justify-content: space-between;
}

.formulario div:last-child label {
  margin-right: 20px;
}

/* Estilos para os botões de rádio */
.formulario input[type='radio'] {
  opacity: 1;
  position: relative;
}

.formulario input[type='radio'] + label {
  display: inline-block;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  background-color: #0088ff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.formulario input[type='radio']:checked + label {
  background-color: #0055cc;
}