footer {
  background-color: #333;
  color: #fff;
  padding: 3rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
}

/* .footer-section {
  flex: 1;
} */

.footer-section h3 {
  margin-bottom: 2rem;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section img {
  width: 10rem;
  height: 10rem;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-media a {
  display: inline-block;
  margin: 0 10px;
}

.footer-app {
  text-align: center;
  padding-top: 1rem;
}

.footer-app-img {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.footer-app-img img {
  margin: 1rem;
  cursor: pointer;
}

.footer-text {
  text-align: center;
}

@media (max-width: 768px) {
  footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }

  .footer-section {
    flex: 0;
  }

  .footer-section img {
    width: 8rem;
    height: 8rem;
  }
}

