/* benefits.css */

/* Container para toda a seção de Benefícios */
.benefits {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  /* Estilo para o título principal */
  .benefits-title {
    color: #187BD1;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  /* Estilo para os subtítulos (benefits-subtitle) */
  .benefits-subtitle {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  /* Estilo para as descrições (benefits-description) */
  .benefits-description {
    color: #666;
    font-size: 1rem;
    margin: 10vw;
    margin-bottom: 2rem;
  }
  
  /* Opcional: Adicionar um espaçamento entre os benefícios */
  .benefits-subtitle + .benefits-description {
    margin-top: 1rem;
  }
  