.benefits {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  
  .benefits-title {
    color: #187BD1;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .benefits-subtitle {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .benefits-description {
    color: #666;
    font-size: 1rem;
    margin: 10vw;
    margin-bottom: 2rem;
  }
  
  .benefits-subtitle + .benefits-description {
    margin-top: 1rem;
  }
  